body{
	background:url(images/minecraft-repeat.jpg);
	margin:0px;
	font: 400 20px/32px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#6a6969;
}
h1{font: 400 58px/60px 'Bree Serif', Georgia, serif; color:#6a6969;}
h2{font: 400 24px/32px 'Bree Serif', Georgia, serif; color:#6a6969;}
h3{font: 400 14px/16px 'Bree Serif', Georgia, serif; color:#6a6969;}
ul{margin:0px; padding:0px;}
a {text-decoration:none; color:#6a6969;}
a:hover {color:#979797;}
a img{border:0px;}

#container{
	width:85%;
	margin:0px auto 300px auto;
	background-color:#222222f5;
	overflow:auto;
	padding-bottom:100px;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:85%;
	height:115px;
	background-color:#222222;
	position: fixed;
	top:0px;
	left:7.5%;
	margin:0px auto 300px auto;
}
#header #logo{
	padding-top:40px;
	float:left;
}
#header #main-menu{float:right; padding-top:45px; padding-right:40px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:115px;}
#about h1{float:left;}
#about #top-social{float:right; padding-top:62px;}
#about #top-social li{float:left; list-style:none; margin-left:10px;}
#about #top-social .facebook{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-facebook-icon.png) no-repeat;
}
#about #top-social .twitter{
	text-indent:-9999px; 
	display:block; 
	width:31px; 
	height:24px; 
	background:url(images/sm-twitter-icon.png) no-repeat;
}
#about #top-social .linkedin{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-linkedin-icon.png) no-repeat;
}
#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}
#about .content #service-icons{margin-top:20px;}
#about .content #service-icons li{
	display:block;
	width:108px;
	height:108px;
	text-indent:-9999px;
	list-style:none;
	float:left;
	margin-right:20px;
}
#about .content #service-icons li.services-design{background:url(images/greyscaleruby.png) no-repeat;}
#about .content #service-icons li.services-mobile{background:url(images/greyscalejava.png) no-repeat;}
#about .content #service-icons li.services-film{background:url(images/greyscalepython.png) no-repeat;}
#about .content #service-icons li.services-photo{background:url(images/greyscalejavascript.png) no-repeat;}

/****************************************************/
/* EXPERIENCE SECTION */
/****************************************************/

#experience{margin:0px 43px; padding-top:20px;}
#experience .col, #work .col{
	max-width:500px;
	padding-right:25px;
	margin:0px auto;
}
#experience .content, #work .content{
	overflow:auto;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/****************************************************/
/* WORK SECTION */
/****************************************************/
#work a {
	text-decoration:underline; color:#3463ad;
}
#work{margin:0px 43px; padding-top:20px;}
#work .content{overflow:auto;}
#work #work-thumbs li{
	list-style:none;
	float:left;
	margin:0px 20px 15px 0px;
	padding:0px;
}
#work #work-thumbs li.last{margin:0px;}

.modal{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 1;
	width:100%;
	height:100%;
	overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#thesisModal{
	margin-left:10%;
	margin-top:2%;
  border: 1px solid #888;
	width:80%;
	height:90%;
}

#thesisBtn{
	cursor:pointer;
}

.pdf {
	width:100%;
	height:100%;
}

.close{
	display:none;
}

/****************************************************/
/* CONNECT SECTION */
/****************************************************/
#connect{
	margin:0px 43px; padding-top:20px;
}
#connect .content{
	overflow:auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

#connect .content div{
	max-width:500px;
	padding-right:25px;
	margin:0px auto;
}

#connect .content .contact{
	display:grid;
	grid-template-columns: 1fr 1fr;
	align-items:center;
}
#connect .content .contact p{

	min-width:290px;
}

#connect #form{
	width:410px;
	float:left;
}
#connect #form input{
	float:left;
	width:255px;
	border:0px;
	color:#3b3b3b;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	margin-bottom:10px;
}
#connect #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#3b3b3b;
}

#connect #form input.name{background:#222222 url(images/icon-user.png) no-repeat 10px 8px;}
#connect #form input.email{background:#222222 url(images/icon-mail.png) no-repeat 10px 9px;}
#connect #form textarea.message{background:#222222 url(images/icon-message.png) no-repeat 10px 8px;}
#connect #form input.submit{ 
	width:75px;   
	height:30px;
	float:right;
	padding:0px 0px 5px 0px;
	margin:10px 16px 0px 0px;
	background:#222222;
	color:#3b3b3b;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}

#connect #social-footer{
	width:300px;
	float:left;
	margin-left:75px;
}
#connect #social-footer #sm-links{margin-top:25px;}
#connect #social-footer #sm-links li{
	list-style:none;
	float:left;
}
#connect  a{
	display:block;
	text-indent:-9999px;
	width:26px; 
	height:26px;
	margin-right:10px;
}
#connect #social-footer #sm-links li a.facebook{background:url(images/sm-facebook-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.twitter{background:url(images/sm-twitter-icon.png) no-repeat; width:31px;}
#connect #social-footer #sm-links li a.dribble{background:url(images/sm-dribble-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.vimeo{background:url(images/sm-vimeo-icon.png) no-repeat; width:27px;}
#connect #social-footer #sm-links li a.google{background:url(images/sm-google-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.youtube{background:url(images/sm-youtube-icon.png) no-repeat; width:28px;}
#connect a.linkedin{background:url(images/sm-linkedin-icon.png) no-repeat;}


/****************************************************/
/* Games */
/****************************************************/


#games{
	margin:0px 43px; padding-top:20px;
}
#games .content{
	overflow:auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

#games .content div{
	max-width:500px;
	padding-right:25px;
	margin:0px auto;
}

#games .content .snakeCanvas{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
	width:100%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}
